/vendor
/node_modules
Homestead.yaml
Homestead.json
.env
*~
.DS_Store
.idea
.sass-cache
.tags

/public/media/photo-items/*
/public/media/photo-slider/*
!/public/media/photo-slider/slider.png
/public/media/slider/*