body {
    padding: 0;
    margin: 0;
    background-color: #d6e9c6;
}

.slider-container {
    margin: 0 auto;
    padding: 0 auto;
    max-width: 980px;
    height: 300px;
}

.general-slider div img {
    width: 100%;
    height: auto;
}