html, * {
  @include box-sizing(border-box);
  text-decoration: none !important;

}

body {
  margin-top: 140px;
}

header {
  width: 100%;
  position: fixed;
  z-index: 1029;
  top: 60px;
  left: 0;

  div {
    width: 100%;
    height: 36px;
    background-color: #FFFFFF;
    border-bottom: solid 1px #DBDBDB;
    text-align: center;

    ul {
      margin: 0;
      padding: 0;

      li {
        display: inline-block;

        a {
          text-decoration: none;
          font-size: 12px;
          text-transform: uppercase;
          height: 35px;
          display: block;
          padding: 0 18px;
          line-height: 38px;
          color: #ABABAB;
          border-bottom: solid 2px transparent;

          &:hover {
            color: #000000;
            border-bottom: solid 2px #2E4AB7;
          }
        }
      }
    }
  }
}



.panel-container {
  background-color: $white;
  @include prefixer(box-shadow, 0px 5px 15px 0px rgba(0,0,0,0.20));
  padding-bottom: 20px;
}

.panel-slider-container {
  @include box-sizing(border-box);
  width: 100%;
  height: 300px;
  overflow-x: auto;
  white-space: nowrap;
  margin-bottom: 20px;

  .panel-slider-container-item {
    display: inline-block;
    margin: 10px;
    position: relative;
    @include transition(.3s ease);
    @include prefixer(box-shadow, 0px 5px 15px 0px rgba(0,0,0,0.20));
    border-radius: 6px;

    img {
      border-radius: 6px;
    }

    .item-bg {
      position: absolute;
      bottom: 0;
      left: 0;
      border-radius: 0 0 6px 6px;
      @include transition(.3s ease);

      width: 100%;
      height: 80px;
      @include prefixer(background-image, linear-gradient(-180deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.80) 100%));
      border: none;
      border-bottom: solid 6px rgba(0,0,0,0.80);
      text-align: center;
      padding-top: 20%;

      a {
        padding: 10px;
        border-radius: 4px;
        margin: 4px;
        opacity: 0;
        @include transition(.3s ease);
      }

      a:nth-child(1) {
        color: $white;
        background-color: $blue-200;
      }

      a:nth-child(2) {
        color: $white;
        background-color: $red;
      }
    }

    &:hover {
        transform: scale(1.06, 1.06);

        .item-bg {
          height: 80%;
          border-bottom: solid 6px $blue-200;

          a {
            opacity: 1;
          }
        }
    }
  }
}