$white: #FFFFFF;
$background: #F2F3F5;
$gray-100: #F3F3F3;
$gray-200: #B0B0B0;
$gray-300: #A0A0A0;
$gray-400: #454545;
$gray-500: #303030;

$yellow-100: #1D75D0;
$yellow-300: #1D75D0;
$yellow-400: #1D75D0;
$yellow-500: #1D75D0;
/*
$yellow-100: #2E4AB7;
$yellow-300: #2E4AB7;
$yellow-400: #2E4AB7;
$yellow-500: #2E4AB7;
*/

$color-geral-trans: rgba(0, 0, 0, 0.06);
$color-text: #4C4C4C;
$black: #333333;
$black-400: #404040;
$pink-200: #FC788E;
$blue-200: #64A7EA;

// @Media
$laptop-l: 1024px;
$laptop: 900px;
$tablet: 768px;
$mobile-l: 600px;
$mobile-m: 480px;
$mobile-s: 320px;

// MIXINS
@mixin prefixer($property, $value, $prefixes: webkit moz ms o) {
  #{$property}: #{$value};
  @each $prefix in $prefixes {
    #{'-' + $prefix + '-' + $property}: #{$value};
  }
}

@mixin transition($value: .3s ease) {
  @include prefixer(transition, $value);
}

@mixin box-sizing($value: border-box) {
  @include prefixer(box-sizing, $value);
}

@mixin centrarXY() {
  position: absolute;
  left: 50%;
  top: 50%;
  @include prefixer(transform, translate(-50%, -50%));
}

/*
    @include box-sizing(border-box);
    @include transition(.3s ease);

    @include prefixer(width, calc(100% - 214px));
*/
